* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.add-book {
  height: 100px;
  border: 1px solid black;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.add-first-half,
.add-second-half {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
  flex-basis: 70%;
  font-size: 26px;
  justify-self: end;
}
.add-first-half input {
  margin-left: 20px;
}
.add-first-half > div {
  display: flex;
  flex-basis: 60%;
  justify-content: flex-end;
  margin-right: 30%;
}
.add-checkbox {
  flex-basis: 60%;
  justify-content: center;
  align-items: center;
}
.add-checkbox > div {
  display: flex;
  align-items: center;
}
.add-book button {
  height: 40px;
  width: 40px;
  margin-bottom: 25;
  background-color: rgb(44, 226, 28);
  border-color: green;
  font-size: 30px;
  color: green;
}
.search-book > form {
  border-bottom: 1px solid black;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-book > form > div {
  margin: 0 20px;
}
.display-books {
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-books > table {
  margin-top: 15px;
  flex-basis: 80%;
}
